[[redirects]]
from = "/firebase-messaging-sw.js"
to = "/firebase-messaging-sw.js"
status = 200
force = true

[[headers]]
for = "/firebase-messaging-sw.js"
  [headers.values]
  Content-Type = "application/javascript"
  Cache-Control = "no-cache"
