/* Pulsanti di navigazione */
.buttons i {
  background-color: #ef9011;
  border-radius: 50%;
  font-size: 3rem;
  cursor: pointer;
}

.weekdays {
  width: 100%;
  display: flex;
}

.weekdays span {
  width: calc(100% / 7);
  font-size: clamp(1rem, 0.8cqi, 1.3rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1 rem;
  display: flex;
  justify-content: center;
  color: #00a3ff;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.days span {
  font-size: calc(1.2rem, 1cqi, 1.6rem);
  width: calc(100% / 7);
  aspect-ratio: 4 / 2; /* stessa grandezza della width */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
}

.current-day {
  background-color: #ef9011;
  border-radius: 50%;
}

/* ADD EVENT */
.event-title {
  font-size: 0.7rem;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ----------- RESPONSIVE SMARTPHONE ----------- */
@media (max-width: 500px) {
  .days span {
    font-size: 1.6rem;
  }
}

/* ----------- RESPONSIVE SMARTPHONE MINI ----------- */
@media (max-width: 375px) {
  .navigate-date .month,
  .navigate-date .year {
    font-size: 1.4rem;
  }
  .buttons i {
    font-size: 2rem;
  }
  .weekdays span {
    font-size: 0.7rem;
  }
  .days span {
    font-size: 1.2rem;
  }
}
