.detail-event-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(15, 15, 15, 0.95);
  color: white;
  z-index: 9999;
  overflow-y: auto;
}

.detail-header {
  border-bottom: 2px solid #ef9011;
}

.detail-header h2 {
  color: #ef9011;
  font-size: 1.6rem;
}

.actions .btn-warning {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.actions .btn-danger {
  padding: 6px 16px;
  background-color: #dc3545 !important;
  color: white !important;
  border: 2px solid #dc3545 !important;
  font-weight: 600;
  transition: all 0.2s ease;
}

.actions .btn-danger:hover {
  background-color: #b02a37 !important; 
  border-color: #b02a37 !important;
  color: white !important;
}


/* Separator verticale */
.separator-vertical {
  width: 2px;
  height: 45px;
  background-color: white;
  border-radius: 2px;
}

/* Hover sugli eventi */
.event-card {
  cursor: pointer;
}

/* Pulsante Chiudi in fondo */
.text-center button {
  font-weight: 600;
  border: 2px solid #dc3545;
  font-size: 1.4rem;
  transition: 0.2s ease;
}
.text-center button:hover {
  background: #dc3545;
  color: white;
}
