.event-detail-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.event-detail-popup {
  background: #1e242d;
  border: 2px solid #ef9011;
  border-radius: 1rem;
  color: white;
  width: 95%;
  max-width: 550px; 
  padding: 2rem;
  position: relative;
  box-shadow: 0 0 15px rgba(239, 144, 17, 0.3);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn,
.options-btn {
  background: transparent;
  color: #ef9011;
  border: none;
  font-size: 1.4rem;
}

.popup-center-icon {
  color: #ef9011;
  font-size: 1.6rem;
}

.popup-body {
  font-size: 1.2rem;
}

.popup-body h3 {
  color: #ef9011;
  font-size: 1.8rem;
}

.confirm-delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.confirm-delete-box {
  background: #2a2f38;
  border: 1px solid #dc3545;
  border-radius: 0.8rem;
  padding: 1.8rem;
  width: 80%;
  color: white;
  box-shadow: 0 0 10px rgba(220, 53, 69, 0.5);
}

.form-select {
  background-color: #0f1319;
  color: white;
  border: 1px solid #ef9011;
  font-size: 1.1rem;
}

.form-select:focus {
  box-shadow: 0 0 5px #ef9011;
  border-color: #ffb84d;
}

textarea.form-control {
  background-color: #0f1319;
  color: white;
  border: 1px solid #ef9011;
}

textarea.form-control:focus {
  border-color: #ffb84d;
}

@media (max-width: 500px) {
  .event-detail-popup {
    width: 90%;
    padding: 1.4rem;
  }
  .popup-body h3 {
    font-size: 1.4rem;
  }
  .popup-body {
    font-size: 1rem;
  }
}
