.hour-counter-title {
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 2.4rem;
  color: #ef9011;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.hour-counter-box {
  width: 60%;
  background-color: #1e242d;
  border: 1px solid #ef9011;
  border-radius: 1rem;
  padding: 2rem 3rem;
}

.hour-counter-subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.logout-btn {
  background-color: #dc3545 !important;
  border: 2px solid #dc3545 !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.6rem 1.4rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.logout-btn:hover {
  background-color: #b02a37 !important;
  border-color: #b02a37 !important;
  color: white !important;
}
