/* POPUP OVERLAY */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* BOX POPUP */
.popup-box {
  background-color: #000;
  border: 2px solid #ef9011;
  border-radius: 12px;
  color: #fff;
  width: 320px;
  box-shadow: 0 0 20px #ef9011;
  animation: fadeInScale 0.3s ease;
}

/* ANIMAZIONE */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
